{% extends "images/00_base.html" %}

{% block content %}
<ul>
    <li class="up"><a href="..">Parent directory</a></li>
    {% for entry in entries %}
    <li class="dir"><a href="{{ entry }}/">{{ entry }}</a></li>
    {% endfor %}
</ul>
<hr>
<p>
    Use the links above to select an user interface. See
    <a href="https://wiki.postmarketos.org/wiki/Category:Interface"
    >Category:Interface</a> in the wiki for more information.
</p>
<p>
    Sxmo may require <a href="https://git.sr.ht/~mil/sxmo-utils/tree/master/item/scripts/deviceprofiles/README.md"
                     >extra configuration</a> for devices that
    are not the Poco F1, PinePhone, or PineTab to work properly
    (ie. with touch support).
    Please <a href="https://sxmo.org/contribute/">contribute</a>
    your devices' configuration so that all devices in the main and community category
    can be supported in Sxmo out of the box.
    If you need help getting Sxmo to work on your device, consult the
    <a href="https://sxmo.org/support/">Sxmo support channels</a>.
</p>
{% endblock %}
