<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>postmarketOS // binary repo status</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header class="header">
            <a class="logo" name="^" href="https://postmarketos.org">
                <img src="static/logo.svg">
                <span>postmarketOS</span>
            </a>
            <img src="badge.svg" class="badge">
            <span class="nav header-bottom">
                <a href="https://postmarketos.org">about</a>
                <a href="http://pkgs.postmarketos.org">package search</a>
                <a href="https://gitlab.com/postmarketOS/pmaports">build recipes</a>
            </span>
            <span class="powered-by header-bottom">powered by
                <a href="https://sourcehut.org/">
                    sourcehut
                    <span class="sourcehut-builds">builds</span>
                </a>
            </span>
        </header>

        <main class="main">
            <h2>Overview</h2>

            <ul>
                <li> {{ len(bpo.config.const.architectures) }} Arches ({{ ", ".join(bpo.config.const.architectures) }})
                <li> {{ len(bpo.config.const.branches) }} Branches ({{ ", ".join(bpo.config.const.branches) }})
                <li> {{ pkgs.building.count() }} Building
                <li> {{ pkgs.failed.count() }} Failed
                <li> {{ pkgs.queued.count() }} Queued
                <li> {{ pkgs.built.count() }} Built
                <li> {{ pkgs.published.count() }} Published
                <li> {{ pkgcount }} Packages total
            </ul>

            <h2>Log</h2>
            <div class="log">
                {% for day,log_entries in log_entries_days.items() %}
                <h3>{{ day }}</h3>
                    <ul>
                    {% for entry in log_entries %}
                    <li> <span class="time">{{ entry.date.strftime("%H:%M:%S") }}</span>
                        {% if entry.action == "restart" %}
                            build.postmarketos.org server restart initiated, doing integrity checks...
                        {% elif entry.action == "restart_done" %}
                            build.postmarketos.org server restart completed
                        {% elif entry.action == "api_push_hook_gitlab" %}
                            {{ entry.branch }}: new commit(s) pushed to pmaports.git
                        {% elif entry.action == "job_get_repo_missing" %}
                            calculating missing binary packages
                        {% elif entry.action == "api_job_callback_get_repo_missing" %}
                            new packages queued for building
                        {% elif entry.action == "job_build_package" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: building package
                        {% elif entry.action in ["api_job_callback_build_package", "package_built"] %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: package built
                        {% elif entry.action == "job_sign_index" %}
                            {{ entry.branch }}/{{ entry.arch }}: signing the package index
                        {% elif entry.action == "api_job_callback_sign_index" %}
                            {{ entry.branch }}/{{ entry.arch }}: all packages built, publishing to mirror
                        {% elif entry.action == "job_update_package_status_built" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: package built
                        {% elif entry.action == "job_update_package_status_failed" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: <b>build failed</b>
                        {% elif entry.action == "job_callback_fail_build_package" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: <b>build failed</b>
                        {% elif entry.action == "build_repo_stuck" %}
                            {{ entry.branch }}/{{ entry.arch }}: <b>repo is stuck</b> - fix failed builds to continue
                        {% elif entry.action == "package_removed_from_pmaports" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: removed from pmaports.git
                        {% elif entry.action == "package_exists_in_wip_repo" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: package exists in WIP repo already, build skipped
                        {% elif entry.action == "package_published" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: package published
                        {% elif entry.action == "obsolete_wip_package" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: does not exist in pmaports.git anymore, removing from WIP repo
                        {% elif entry.action == "missing_built_apk" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: not found in WIP repo on disk, although status was set to "built" in the DB -> changing back to "queued"
                        {% elif entry.action == "missing_published_apk" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: not found in final repo on disk, although status was set to "published" in the DB -> changing back to "built"
                        {% elif entry.action == "remove_broken_apk" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: <b>broken package, removing</b> (<a href="https://gitlab.com/postmarketOS/build.postmarketos.org/issues/56">#56</a>)
                        {% elif entry.action == "remove_broken_apk_reset_deleted" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: changing status back to "queued" after apk was removed
                        {% elif entry.action == "remove_broken_apk_reset_failed" %}
                            {{ entry.branch }}/{{ entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: changing status back from "failed" to "queued", because the broken apk of a dependency was removed
                        {% else %}
                            ???
                        {% endif %}
                        <!-- action: {{ entry.action }} -->
                        {% if entry.job_id %}
                            <a href="{{ bpo.helpers.job.get_link(entry.job_id) }}">[log]</a>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div>

            <h2>Building ({{ pkgs.building.count() }})</h2>
            <ul>
                {% for package in pkgs.building %}
                <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
                    <a href="{{ bpo.helpers.job.get_link(package.job_id) }}">[log]</a>
                {% endfor %}
            </ul>

            <h2>Failed ({{ pkgs.failed.count() }})</h2>
            <ul>
                {% for package in pkgs.failed %}
                <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
                    <a href="{{ bpo.helpers.job.get_link(package.job_id) }}">[log]</a>
                {% endfor %}
            </ul>

            <h2>Queued ({{ pkgs.queued.count() }})</h2>
            <ul>
                {% for package in pkgs.queued %}
                <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
                        {% if not package.depends_built() %}
                            (missing depends:
                            {% for depend in package.depends_missing_list()
                                %}{{depend.pkgname}}{{", " if not loop.last}}{%
                            endfor %})
                        {% endif %}
                {% endfor %}
            </ul>

            <h2>Built ({{ pkgs.built.count() }})</h2>
            <p style="font-size: 80%; font-style: italic">
                Note: these packages get published, after there are no more queued and failing packages for the same arch and branch. This is to prevent half-baked updates (<a href="https://gitlab.com/postmarketOS/build.postmarketos.org/#repositories">more</a>).
            </p>

            <ul>
                {% for package in pkgs.built %}
                <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
                    <a href="{{ bpo.helpers.job.get_link(package.job_id) }}">[log]</a>
                {% endfor %}
            </ul>

            <h2>Published ({{ pkgs.published.count() }})</h2>
            <ul>
                {% for package in pkgs.published %}
                <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
                    <a href="{{ bpo.helpers.job.get_link(package.job_id) }}">[log]</a>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
