<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>postmarketOS // binary repo status</title>
    </head>
    <body>
        <h2>Overview</h2>

        <ul>
            <li> {{ pkgcount_all }} Packages
            <li> {{ pkgcount_queued }} Queued
            <li> {{ pkgcount_failed }} Failed
        </ul>

        <h2>Last log entries</h2>
        <ul>
            {% for entry in log_entries %}
            <li> {{ entry.date }}
                {% if entry.action == "restart" %}
                    build.postmarketos.org server restarted
                {% elif entry.action == "api_push_hook_gitlab" %}
                    {{entry.branch }}: new commit(s) pushed to pmaports.git
                {% elif entry.action == "api_job_callback_get_repo_missing" %}
                    {{entry.branch }}/{{entry.arch }}: new packages queued for building
                {% elif entry.action == "api_job_callback_build_package" %}
                    {{entry.branch }}/{{entry.arch }}/{{ entry.pkgname }}-{{ entry.version }}.apk: package built
                {% elif entry.action == "api_job_callback_sign_index" %}
                    {{entry.branch }}/{{entry.arch }}: all packages built, publishing to mirror
                {% else %}
                    ???
                {% endif %}
                <i>({{ entry.action }})</i>
            {% endfor %}
        </ul>

        <h2>Building</h2>
        <ul>
            {% for package in pkgs_building %}
            <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
            {% endfor %}
        </ul>

        <h2>Failed</h2>
        <ul>
            {% for package in pkgs_failed %}
            <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
            {% endfor %}
        </ul>

        <h2>Queued</h2>
        <ul>
            {% for package in pkgs_queued %}
            <li> {{package.branch}}/{{package.arch}}/{{package.pkgname}}-{{package.version}}.apk
            {% endfor %}
        </ul>

        <h2>About</h2>
        WIP status frontend for the postmarketOS build queue. <a href="https://gitlab.com/postmarketOS/build.postmarketos.org/">Source</a>
    </body>
</html>
