<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>postmarketOS // binary repo status</title>
    </head>
    <body>
        <h2>Overview</h2>

        <ul>
            <li> {{ pkgcount_all }} Packages
            <li> {{ pkgcount_queued }} Queued
            <li> {{ pkgcount_failing }} Failing
        </ul>

        <h2>Last log entries</h2>

        <h2>Building</h2>

        <h2>Failed</h2>

        <h2>Queued</h2>

        <h2>Server information</h2>
    </body>
</html>
