/* "Official Images" */
.badge {
    font-size: 20pt;
    color: white;
}

/* "build status" */
.powered-by a {
    color: gray;
}

.nav a:before {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    content: "/";
    display: inline-block;
}

main {
    padding: 20px;
}

main a {
    text-decoration: underline;
}

main hr {
    border: 0px;
    height: 0px;
    border-top: 2px solid lightgray;
    margin: 20px 0px;
}

ul {
    padding-left: 0;
    margin-left: 20px;
}

li {
    padding-inline-start: 10px;
}

ul.metadata {
    font-size: 0.7em;
    word-break: break-all;
    padding-bottom: 10px;
}

li.up {
    list-style-type: '⤴';
}

li.file {
    list-style-type: '📄';
}

li.dir {
    list-style-type: '📁';
}

li.hash {
    list-style-type: '🔑';
}

li.size {
    list-style-type: '💾';
}

.label-latest {
    display: inline-block;
    color: white;
    padding: 3px;
    font-size: 8pt;
    border-radius: 7px;
    background-color: #090;
    position: relative;
    top: -3px;
}
